body {
    background-image: url(bg1.jpeg);
    background-size: 100%;
}

b {
    font-family:inherit;
    color: white;
}
tr {
    background-image: url(bg1.jpg);
    background-size: 300%;
}
table {
    padding-left: 450px; 
}

input[type=text], input[type=password] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    text-align: center;
    border-radius: 10%;
}
button {
    width: 50%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 15%;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
img.avatar {
    padding-top: 5px;
    width: 50%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}
